{
  "name": "Vidaia WP",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"theme/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "src/js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"theme/assets/js/main.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": ".src/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": ".src/js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/main.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "theme/assets",
      "theme/assets/js",
      "src",
      "src/scss",
      "src/js",
      ".src/js",
      ".src/scss"
    ],
    "hideSystemFiles": false,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": ".src/scss/style.scss",
      "imports": [
        ".src/scss/lib/bulma/sass/utilities/initial-variables.sass",
        ".src/scss/lib/bulma/sass/utilities/functions.sass",
        ".src/scss/core/_colors.scss",
        ".src/scss/lib/bulma/bulma.sass",
        ".src/scss/core/_index.scss",
        ".src/scss/lib/_index.scss",
        ".src/scss/components/_index.scss",
        ".src/scss/web-parts/_index.scss",
        ".src/scss/lib/bulma/sass/utilities/_all.sass",
        ".src/scss/lib/bulma/sass/base/_all.sass",
        ".src/scss/lib/bulma/sass/elements/_all.sass",
        ".src/scss/lib/bulma/sass/components/_all.sass",
        ".src/scss/lib/bulma/sass/grid/_all.sass",
        ".src/scss/lib/bulma/sass/layout/_all.sass",
        ".src/scss/core/_fonts.scss",
        ".src/scss/core/_variables.scss",
        ".src/scss/core/_mixins.scss",
        ".src/scss/core/_functions.scss",
        ".src/scss/core/_helpers.scss",
        ".src/scss/core/_base.scss",
        ".src/scss/lib/_owl-carousel.scss",
        ".src/scss/lib/_owl-theme-default.scss",
        ".src/scss/components/_avatar.scss",
        ".src/scss/web-parts/_layout.scss",
        ".src/scss/web-parts/_header.scss",
        ".src/scss/web-parts/_hero.scss",
        ".src/scss/web-parts/_navbar.scss",
        ".src/scss/web-parts/_sidebar.scss",
        ".src/scss/web-parts/_contact.scss",
        ".src/scss/web-parts/_footer.scss",
        ".src/scss/web-parts/_overrides.scss",
        ".src/scss/lib/bulma/sass/utilities/derived-variables.sass",
        ".src/scss/lib/bulma/sass/utilities/animations.sass",
        ".src/scss/lib/bulma/sass/utilities/mixins.sass",
        ".src/scss/lib/bulma/sass/utilities/controls.sass",
        ".src/scss/lib/bulma/sass/base/minireset.sass",
        ".src/scss/lib/bulma/sass/base/generic.sass",
        ".src/scss/lib/bulma/sass/base/helpers.sass",
        ".src/scss/lib/bulma/sass/elements/box.sass",
        ".src/scss/lib/bulma/sass/elements/button.sass",
        ".src/scss/lib/bulma/sass/elements/container.sass",
        ".src/scss/lib/bulma/sass/elements/content.sass",
        ".src/scss/lib/bulma/sass/elements/form.sass",
        ".src/scss/lib/bulma/sass/elements/icon.sass",
        ".src/scss/lib/bulma/sass/elements/image.sass",
        ".src/scss/lib/bulma/sass/elements/notification.sass",
        ".src/scss/lib/bulma/sass/elements/progress.sass",
        ".src/scss/lib/bulma/sass/elements/table.sass",
        ".src/scss/lib/bulma/sass/elements/tag.sass",
        ".src/scss/lib/bulma/sass/elements/title.sass",
        ".src/scss/lib/bulma/sass/elements/other.sass",
        ".src/scss/lib/bulma/sass/components/breadcrumb.sass",
        ".src/scss/lib/bulma/sass/components/card.sass",
        ".src/scss/lib/bulma/sass/components/dropdown.sass",
        ".src/scss/lib/bulma/sass/components/level.sass",
        ".src/scss/lib/bulma/sass/components/list.sass",
        ".src/scss/lib/bulma/sass/components/media.sass",
        ".src/scss/lib/bulma/sass/components/menu.sass",
        ".src/scss/lib/bulma/sass/components/message.sass",
        ".src/scss/lib/bulma/sass/components/modal.sass",
        ".src/scss/lib/bulma/sass/components/navbar.sass",
        ".src/scss/lib/bulma/sass/components/pagination.sass",
        ".src/scss/lib/bulma/sass/components/panel.sass",
        ".src/scss/lib/bulma/sass/components/tabs.sass",
        ".src/scss/lib/bulma/sass/grid/columns.sass",
        ".src/scss/lib/bulma/sass/grid/tiles.sass",
        ".src/scss/lib/bulma/sass/layout/hero.sass",
        ".src/scss/lib/bulma/sass/layout/section.sass",
        ".src/scss/lib/bulma/sass/layout/footer.sass"
      ]
    },
    {
      "path": ".src/scss/components/_index.scss",
      "imports": [
        ".src/scss/components/_avatar.scss"
      ]
    },
    {
      "path": ".src/scss/core/_index.scss",
      "imports": [
        ".src/scss/core/_fonts.scss",
        ".src/scss/core/_variables.scss",
        ".src/scss/core/_mixins.scss",
        ".src/scss/core/_functions.scss",
        ".src/scss/core/_helpers.scss",
        ".src/scss/core/_base.scss"
      ]
    },
    {
      "path": ".src/scss/lib/_index.scss",
      "imports": [
        ".src/scss/lib/_owl-carousel.scss",
        ".src/scss/lib/_owl-theme-default.scss"
      ]
    },
    {
      "path": ".src/scss/web-parts/_index.scss",
      "imports": [
        ".src/scss/web-parts/_layout.scss",
        ".src/scss/web-parts/_header.scss",
        ".src/scss/web-parts/_hero.scss",
        ".src/scss/web-parts/_navbar.scss",
        ".src/scss/web-parts/_sidebar.scss",
        ".src/scss/web-parts/_contact.scss",
        ".src/scss/web-parts/_footer.scss",
        ".src/scss/web-parts/_overrides.scss"
      ]
    },
    {
      "path": "assets/sass/bulma/bulma.sass",
      "imports": [
        "assets/sass/bulma/utilities/_all.sass",
        "assets/sass/bulma/base/_all.sass",
        "assets/sass/bulma/elements/_all.sass",
        "assets/sass/bulma/components/_all.sass",
        "assets/sass/bulma/grid/_all.sass",
        "assets/sass/bulma/layout/_all.sass",
        "assets/sass/bulma/utilities/initial-variables.sass",
        "assets/sass/bulma/utilities/functions.sass",
        "assets/sass/bulma/utilities/derived-variables.sass",
        "assets/sass/bulma/utilities/animations.sass",
        "assets/sass/bulma/utilities/mixins.sass",
        "assets/sass/bulma/utilities/controls.sass",
        "assets/sass/bulma/base/minireset.sass",
        "assets/sass/bulma/base/generic.sass",
        "assets/sass/bulma/base/helpers.sass",
        "assets/sass/bulma/elements/box.sass",
        "assets/sass/bulma/elements/button.sass",
        "assets/sass/bulma/elements/container.sass",
        "assets/sass/bulma/elements/content.sass",
        "assets/sass/bulma/elements/form.sass",
        "assets/sass/bulma/elements/icon.sass",
        "assets/sass/bulma/elements/image.sass",
        "assets/sass/bulma/elements/notification.sass",
        "assets/sass/bulma/elements/progress.sass",
        "assets/sass/bulma/elements/table.sass",
        "assets/sass/bulma/elements/tag.sass",
        "assets/sass/bulma/elements/title.sass",
        "assets/sass/bulma/elements/other.sass",
        "assets/sass/bulma/components/breadcrumb.sass",
        "assets/sass/bulma/components/card.sass",
        "assets/sass/bulma/components/dropdown.sass",
        "assets/sass/bulma/components/level.sass",
        "assets/sass/bulma/components/list.sass",
        "assets/sass/bulma/components/media.sass",
        "assets/sass/bulma/components/menu.sass",
        "assets/sass/bulma/components/message.sass",
        "assets/sass/bulma/components/modal.sass",
        "assets/sass/bulma/components/navbar.sass",
        "assets/sass/bulma/components/pagination.sass",
        "assets/sass/bulma/components/panel.sass",
        "assets/sass/bulma/components/tabs.sass",
        "assets/sass/bulma/grid/columns.sass",
        "assets/sass/bulma/grid/tiles.sass",
        "assets/sass/bulma/layout/hero.sass",
        "assets/sass/bulma/layout/section.sass",
        "assets/sass/bulma/layout/footer.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/bulma.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/utilities/_all.sass",
        ".src/scss/lib/bulma/sass/base/_all.sass",
        ".src/scss/lib/bulma/sass/elements/_all.sass",
        ".src/scss/lib/bulma/sass/components/_all.sass",
        ".src/scss/lib/bulma/sass/grid/_all.sass",
        ".src/scss/lib/bulma/sass/layout/_all.sass",
        ".src/scss/lib/bulma/sass/utilities/initial-variables.sass",
        ".src/scss/lib/bulma/sass/utilities/functions.sass",
        ".src/scss/lib/bulma/sass/utilities/derived-variables.sass",
        ".src/scss/lib/bulma/sass/utilities/animations.sass",
        ".src/scss/lib/bulma/sass/utilities/mixins.sass",
        ".src/scss/lib/bulma/sass/utilities/controls.sass",
        ".src/scss/lib/bulma/sass/base/minireset.sass",
        ".src/scss/lib/bulma/sass/base/generic.sass",
        ".src/scss/lib/bulma/sass/base/helpers.sass",
        ".src/scss/lib/bulma/sass/elements/box.sass",
        ".src/scss/lib/bulma/sass/elements/button.sass",
        ".src/scss/lib/bulma/sass/elements/container.sass",
        ".src/scss/lib/bulma/sass/elements/content.sass",
        ".src/scss/lib/bulma/sass/elements/form.sass",
        ".src/scss/lib/bulma/sass/elements/icon.sass",
        ".src/scss/lib/bulma/sass/elements/image.sass",
        ".src/scss/lib/bulma/sass/elements/notification.sass",
        ".src/scss/lib/bulma/sass/elements/progress.sass",
        ".src/scss/lib/bulma/sass/elements/table.sass",
        ".src/scss/lib/bulma/sass/elements/tag.sass",
        ".src/scss/lib/bulma/sass/elements/title.sass",
        ".src/scss/lib/bulma/sass/elements/other.sass",
        ".src/scss/lib/bulma/sass/components/breadcrumb.sass",
        ".src/scss/lib/bulma/sass/components/card.sass",
        ".src/scss/lib/bulma/sass/components/dropdown.sass",
        ".src/scss/lib/bulma/sass/components/level.sass",
        ".src/scss/lib/bulma/sass/components/list.sass",
        ".src/scss/lib/bulma/sass/components/media.sass",
        ".src/scss/lib/bulma/sass/components/menu.sass",
        ".src/scss/lib/bulma/sass/components/message.sass",
        ".src/scss/lib/bulma/sass/components/modal.sass",
        ".src/scss/lib/bulma/sass/components/navbar.sass",
        ".src/scss/lib/bulma/sass/components/pagination.sass",
        ".src/scss/lib/bulma/sass/components/panel.sass",
        ".src/scss/lib/bulma/sass/components/tabs.sass",
        ".src/scss/lib/bulma/sass/grid/columns.sass",
        ".src/scss/lib/bulma/sass/grid/tiles.sass",
        ".src/scss/lib/bulma/sass/layout/hero.sass",
        ".src/scss/lib/bulma/sass/layout/section.sass",
        ".src/scss/lib/bulma/sass/layout/footer.sass"
      ]
    },
    {
      "path": "assets/sass/bulma/base/_all.sass",
      "imports": [
        "assets/sass/bulma/base/minireset.sass",
        "assets/sass/bulma/base/generic.sass",
        "assets/sass/bulma/base/helpers.sass"
      ]
    },
    {
      "path": "assets/sass/bulma/components/_all.sass",
      "imports": [
        "assets/sass/bulma/components/breadcrumb.sass",
        "assets/sass/bulma/components/card.sass",
        "assets/sass/bulma/components/dropdown.sass",
        "assets/sass/bulma/components/level.sass",
        "assets/sass/bulma/components/list.sass",
        "assets/sass/bulma/components/media.sass",
        "assets/sass/bulma/components/menu.sass",
        "assets/sass/bulma/components/message.sass",
        "assets/sass/bulma/components/modal.sass",
        "assets/sass/bulma/components/navbar.sass",
        "assets/sass/bulma/components/pagination.sass",
        "assets/sass/bulma/components/panel.sass",
        "assets/sass/bulma/components/tabs.sass"
      ]
    },
    {
      "path": "assets/sass/bulma/elements/_all.sass",
      "imports": [
        "assets/sass/bulma/elements/box.sass",
        "assets/sass/bulma/elements/button.sass",
        "assets/sass/bulma/elements/container.sass",
        "assets/sass/bulma/elements/content.sass",
        "assets/sass/bulma/elements/form.sass",
        "assets/sass/bulma/elements/icon.sass",
        "assets/sass/bulma/elements/image.sass",
        "assets/sass/bulma/elements/notification.sass",
        "assets/sass/bulma/elements/progress.sass",
        "assets/sass/bulma/elements/table.sass",
        "assets/sass/bulma/elements/tag.sass",
        "assets/sass/bulma/elements/title.sass",
        "assets/sass/bulma/elements/other.sass"
      ]
    },
    {
      "path": "assets/sass/bulma/grid/_all.sass",
      "imports": [
        "assets/sass/bulma/grid/columns.sass",
        "assets/sass/bulma/grid/tiles.sass"
      ]
    },
    {
      "path": "assets/sass/bulma/layout/_all.sass",
      "imports": [
        "assets/sass/bulma/layout/hero.sass",
        "assets/sass/bulma/layout/section.sass",
        "assets/sass/bulma/layout/footer.sass"
      ]
    },
    {
      "path": "assets/sass/bulma/utilities/_all.sass",
      "imports": [
        "assets/sass/bulma/utilities/initial-variables.sass",
        "assets/sass/bulma/utilities/functions.sass",
        "assets/sass/bulma/utilities/derived-variables.sass",
        "assets/sass/bulma/utilities/animations.sass",
        "assets/sass/bulma/utilities/mixins.sass",
        "assets/sass/bulma/utilities/controls.sass"
      ]
    },
    {
      "path": "assets/sass/bulma/utilities/mixins.sass",
      "imports": [
        "assets/sass/bulma/utilities/initial-variables.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/sass/base/_all.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/base/minireset.sass",
        ".src/scss/lib/bulma/sass/base/generic.sass",
        ".src/scss/lib/bulma/sass/base/helpers.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/sass/components/_all.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/components/breadcrumb.sass",
        ".src/scss/lib/bulma/sass/components/card.sass",
        ".src/scss/lib/bulma/sass/components/dropdown.sass",
        ".src/scss/lib/bulma/sass/components/level.sass",
        ".src/scss/lib/bulma/sass/components/list.sass",
        ".src/scss/lib/bulma/sass/components/media.sass",
        ".src/scss/lib/bulma/sass/components/menu.sass",
        ".src/scss/lib/bulma/sass/components/message.sass",
        ".src/scss/lib/bulma/sass/components/modal.sass",
        ".src/scss/lib/bulma/sass/components/navbar.sass",
        ".src/scss/lib/bulma/sass/components/pagination.sass",
        ".src/scss/lib/bulma/sass/components/panel.sass",
        ".src/scss/lib/bulma/sass/components/tabs.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/sass/elements/_all.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/elements/box.sass",
        ".src/scss/lib/bulma/sass/elements/button.sass",
        ".src/scss/lib/bulma/sass/elements/container.sass",
        ".src/scss/lib/bulma/sass/elements/content.sass",
        ".src/scss/lib/bulma/sass/elements/form.sass",
        ".src/scss/lib/bulma/sass/elements/icon.sass",
        ".src/scss/lib/bulma/sass/elements/image.sass",
        ".src/scss/lib/bulma/sass/elements/notification.sass",
        ".src/scss/lib/bulma/sass/elements/progress.sass",
        ".src/scss/lib/bulma/sass/elements/table.sass",
        ".src/scss/lib/bulma/sass/elements/tag.sass",
        ".src/scss/lib/bulma/sass/elements/title.sass",
        ".src/scss/lib/bulma/sass/elements/other.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/sass/grid/_all.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/grid/columns.sass",
        ".src/scss/lib/bulma/sass/grid/tiles.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/sass/layout/_all.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/layout/hero.sass",
        ".src/scss/lib/bulma/sass/layout/section.sass",
        ".src/scss/lib/bulma/sass/layout/footer.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/sass/utilities/_all.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/utilities/initial-variables.sass",
        ".src/scss/lib/bulma/sass/utilities/functions.sass",
        ".src/scss/lib/bulma/sass/utilities/derived-variables.sass",
        ".src/scss/lib/bulma/sass/utilities/animations.sass",
        ".src/scss/lib/bulma/sass/utilities/mixins.sass",
        ".src/scss/lib/bulma/sass/utilities/controls.sass"
      ]
    },
    {
      "path": ".src/scss/lib/bulma/sass/utilities/mixins.sass",
      "imports": [
        ".src/scss/lib/bulma/sass/utilities/initial-variables.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    ".git"
  ],
  "server": {
    "port": 7887,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "public_html/vidaia/wp-content/themes/vidaia",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "pegmx.com.mx",
      "port": 21,
      "user": "pegmxcom",
      "password": "G74QE78Fna6u2Hu"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      ".gitignore",
      ".src"
    ],
    "history": [
      {
        "file": "404.php",
        "ctime": "2019-02-25T20:54:11.696Z",
        "mtime": "2019-02-25T20:54:11.696Z",
        "size": 611
      },
      {
        "file": "assets/js/main.min.js",
        "ctime": "2019-02-25T20:54:11.696Z",
        "mtime": "2019-02-25T20:54:11.696Z",
        "size": 166
      },
      {
        "file": "comments.php",
        "ctime": "2019-02-25T20:54:11.707Z",
        "mtime": "2019-02-25T20:54:11.707Z",
        "size": 1847
      },
      {
        "file": "content.php",
        "ctime": "2019-02-25T20:54:11.707Z",
        "mtime": "2019-02-25T20:54:11.707Z",
        "size": 720
      },
      {
        "file": "footer.php",
        "ctime": "2019-02-25T20:54:11.707Z",
        "mtime": "2019-02-25T20:54:11.707Z",
        "size": 580
      },
      {
        "file": "functions.php",
        "ctime": "2019-02-27T19:34:13.913Z",
        "mtime": "2019-02-27T19:34:13.913Z",
        "size": 10531
      },
      {
        "file": "header.php",
        "ctime": "2019-02-27T20:05:30.434Z",
        "mtime": "2019-02-27T20:05:30.434Z",
        "size": 2127
      },
      {
        "file": "inc/comment-walker.php",
        "ctime": "2019-02-25T20:54:11.708Z",
        "mtime": "2019-02-25T20:54:11.708Z",
        "size": 3434
      },
      {
        "file": "inc/navbar-walker.php",
        "ctime": "2019-02-27T18:49:24.282Z",
        "mtime": "2019-02-27T18:49:24.282Z",
        "size": 8851
      },
      {
        "file": "index.php",
        "ctime": "2019-02-25T20:54:11.708Z",
        "mtime": "2019-02-25T20:54:11.708Z",
        "size": 548
      },
      {
        "file": "page-fullwidth.php",
        "ctime": "2019-02-25T20:54:11.709Z",
        "mtime": "2019-02-25T20:54:11.709Z",
        "size": 611
      },
      {
        "file": "page.php",
        "ctime": "2019-02-25T20:54:11.709Z",
        "mtime": "2019-02-25T20:54:11.709Z",
        "size": 641
      },
      {
        "file": "screenshot.png",
        "ctime": "2019-02-25T21:28:47.491Z",
        "mtime": "2019-02-25T21:28:34.363Z",
        "size": 276651
      },
      {
        "file": "searchform.php",
        "ctime": "2019-02-25T20:54:11.710Z",
        "mtime": "2019-02-25T20:54:11.710Z",
        "size": 1424
      },
      {
        "file": "sidebar.php",
        "ctime": "2019-02-25T20:54:11.710Z",
        "mtime": "2019-02-25T20:54:11.710Z",
        "size": 229
      },
      {
        "file": "single.php",
        "ctime": "2019-02-25T20:54:11.710Z",
        "mtime": "2019-02-25T20:54:11.710Z",
        "size": 1504
      },
      {
        "file": "style.css",
        "ctime": "2019-02-27T20:17:17.251Z",
        "mtime": "2019-02-27T20:17:17.251Z",
        "size": 270091
      },
      {
        "file": "assets/screenshot.png",
        "ctime": "2019-02-25T21:26:42.612Z",
        "mtime": "2019-02-25T21:26:41.986Z",
        "size": 1391338
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}