$red:#d63031;
$yellow:#F1933F;
$green:#07BFA3;
$cyan:#81ecec;
$blue:#38B1FF;
$purple:#801965;
$orange:#F1933F;
$silver:#EBEBEB;

$success:$green;
$warning:$yellow;
$danger:$red;
$info:$cyan;

$primary:$purple;
$primary-light:lighten($primary,10);
$primary-dark:darken($primary,10);


$secondary:$orange;
$secondary-light:lighten($secondary,28);
$secondary-dark:darken($secondary,10);


$gray:#737373;
$gray-dark:#454545;
$black-dark:#2C2C2C;

$white:white;
