$red:#d63031;
$yellow:#fdcb6e;
$green:#00b894;
$cyan:#81ecec;
$blue:#0984e3;
$purple:#6c5ce7;
$orange:#e17055;
$silver:#e4e4e4;

$success:$green;
$warning:$yellow;
$danger:$red;
$info:$cyan;

$primary:$blue;
$primary-light:lighten($primary,10);
$primary-dark:darken($primary,10);


$secondary:$green;
$secondary-light:lighten($secondary,28);
$secondary-dark:darken($secondary,10);


$gray:#737373;
$gray-dark:#454545;
$black-dark:#2C2C2C;

$white:white;
